<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Test</title>

</head>
<body>
<div>
    <span>
        Reset your password for @@NAME
    </span>
</div>
<div>
    <p>
        Hey @@USER, <br/>
        We have received a password reset request for your account. <br/>
        <br/>
        <p>
            If you do not want to change your password or didn't request a reset, you can ignore
            this email and your password will not be changed.

            The reset link will be active for the next 24 hours.
        </p>
    </p>
</div>
<div>
    <p>
        <a href="@@LINK">Reset password</a>
    </p>
</div>
</body>
</html>
