<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Test</title>

</head>
<body>
<div>
    <span>
        Verify your email address : @@EMAIL
    </span>
</div>
<div>
    <p>
        Hey @@NAME, <br/>
        We have received verify email request for your account. <br/>
        <br/>
    <p>
        Click on verify email link.
        The link will be active for the next 24 hours.
    </p>
    </p>
</div>
<div>
    <p>
        <a href="@@LINK">Verify Email</a>
    </p>
</div>
</body>
</html>
